.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

.logo {
  flex: 0 0 auto;
  margin-left: 0;
  text-decoration: none;
}
.logo {
  font-size: 1.71rem;
  font-weight: 600;
  color: var(--text-color);
}

.logo span {
  font-size: 1.71rem;
  font-weight: 600;
  color: crimson;
}

.navmenu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  flex: 1;
  justify-content: center;
}

.navconnect {
  flex: 0 0 auto;
  margin-right: 0;
  padding: 15px 20px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.navconnect a {
  text-decoration: none; /* Remove underlines */
  color: white; /* Change link color */
  transition: color 0.3s ease; /* Smooth color change on hover */
}
.navconnect:hover {
  transform: scale(1.05);
}

.navmenu a {
  text-decoration: none; /* Remove underlines */
  color: white; /* Change link color */
  transition: color 0.3s ease; /* Smooth color change on hover */
}

.navmenu a:hover {
  background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navmobopen {
  display: none;
}
.navmobclose {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;
  }
  .navconnect {
    display: none;
  }
  .navmobopen {
    display: block;
    position: fixed;
    right: 30px;
  }
  .navmobclose {
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    right: 30px;
  }
  .navmenu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }
  .navmenu li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}
